.App {
  text-align: center;
  min-height: 100vh;
  background-color:wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: white; */

  .loading-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;

    .loader{
        border: 5px solid #f3f3f3;
        border-top: 5px solid darkgreen;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

}

}
